BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
ColumnLimit: 110
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLine
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
SpaceAfterTemplateKeyword: false
